<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ly.pp.justpiano3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.BIND_MIDI_DEVICE_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.usb.host" />
    <uses-feature
        android:name="android.software.midi"
        android:required="true" />

    <application
        android:name=".JPApplication"
        android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
        android:icon="@drawable/icon"
        android:isGame="true"
        android:label="@string/app_name"
        android:screenOrientation="sensorLandscape"
        android:theme="@style/JustPianoTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".activity.JustPiano"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:exported="true"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.local.MainMode"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.local.InfoShowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.online.PopUserInfo"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.local.SettingsMode"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/SettingTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.local.RecordFiles"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.local.PlayModeSelect"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.online.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.online.Register"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.online.OLMelodySelect"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.online.SearchSongs"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.online.OLMainMode"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.online.ShowTopInfo"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.online.ShowSongsInfo"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.online.UsersInfo"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.online.OLTopUser"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.online.OLPlayHall"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.online.OLPlayRoom"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.online.OLPlayKeyboardRoom"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.online.OLPlayHallRoom"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.online.OLPlayDressRoom"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.online.OLSongsPage"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.local.MelodySelect"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustNothing|adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.local.PianoPlay"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.local.KeyBoard"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.local.PlayFinish"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.local.PianoHelper"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.online.UserListPage"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.local.SkinDownload"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.local.SoundDownload"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.local.ChatFiles"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity android:name=".activity.online.OLBaseActivity" />
        <activity
            android:name=".activity.online.OLChallenge"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.online.OLFamily"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />
        <activity
            android:name=".activity.local.WaterfallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" />

        <service
            android:name=".service.ConnectionService"
            android:foregroundServiceType="remoteMessaging"
            android:enabled="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ly.pp.justpiano3.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>